black           # Python formatter
bandit          # Python analysis
flake8          # Python linter implementing PEP8 and performing static analysis
pip             # Python package installer
pylint          # Python linter implementing PEP8 and performing static analysis
pytest          # Python unit-testing library
rope            # Python refactoring libary
